body, html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

#webcam, #overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#eyes {
  position: absolute;
  top: 0;
  left: 300px;
}

#target {
  background-color: lightgreen;
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.1s ease;
  box-shadow: 0 0 20px 10px white;
  border: 4px solid rgba(0,0,0,0.5);
  opacity: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #05668d;
  color: #ebf2fa;
  font-size: 16pt;
  padding: 0.5em;
}

a {
  color: inherit;
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

#info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24pt;
  background-color: lightgreen;
  padding: 1em;
  border-radius: 10px;
  max-width: 500px;
  transition: all 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#info h3 {
  margin: 0.2em 0;
}

#info.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

#training {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  background-color: lightblue;
  padding: 0.5em;
}

#training table {
  width: 100%;
  font-size: 16pt;
  font-family: 'Source Code Pro', monospace;
}

#training table td:nth-child(2) {
  text-align: right;
}

.buttonwrap {
  text-align: center;
}

button {
  position: relative;
  z-index: 11;
  cursor: pointer;
  font-size: 10pt;
  padding: 0.125em 0em;
  margin: 0.1em;
  width: 140px;
  font-family: 'Source Code Pro', monospace;
}

#heatMap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}

#data-uploader, #model-uploader {
  display: none;
}


.Calibration{
  width: 20px;
  height: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: rgb(35, 194, 97);
  opacity: 0.6;
  border-color: black;
  border-style: solid;
  position:fixed;
  z-index: 1000;
}

/* Calibration point position */
#Pt1{
  top: 20px;
  left:2vw;
}
#Pt2{
  top: 20px;
  left:50vw;
}
#Pt3{
  top: 20px;
  right:2vw;
}
#Pt4{
  top:50vh;
  left:2vw;
}
#Pt5{
  top: 50vh;
  left: 50vw;
}
#Pt6{
  top: 50vh;
  right:2vw;
}
#Pt7{
  bottom:20px;
  left: 2vw;
}
#Pt8{
  bottom:20px;
  left:50vw;
}
#Pt9{
  bottom:20px;
  right:2vw;
}
#Pt10{
  top:30vh;
  left:30vw;
}

#Pt11{
  top:30vh;
  right:30vw;
}

#Pt12{
  bottom:30vh;
  left:30vw;
}

#Pt13{
  bottom:30vh;
  right:30vw;
}

.solvd-color, a {
  color: rgb(35, 194, 97);
}

.footer {
  /*border-top: 1px solid rgb(35, 194, 97);*/
  /*border-top: 1px solid #cccccc;*/
  background-color: white;
  /*color: rgb(35, 194, 97);*/
  color: black;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer h2 {
  margin-right: 100px;
  margin-bottom: -5px;
}

.footer-logo {
  color: black;
  background-color: white;
  padding-left: 30px;
  position: relative;
  margin: 0;
  bottom: 0;
  right: 0;
}

h2 {
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  font-size: 42px;
}

